:root {
    --color-primary: #FFD100;
    --color-primary-dark: #E6BD00;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark: #0D111F;
    --color-darker: #060A14;
    --color-gray: #555555;
} 